<template>
  <div class="evisa-container">
    <div class="evisa-table_container">
      <el-table
        v-loading="listLoading"
        :data="applicants"
        element-loading-text="Loading"
        fit
        highlight-current-row
      >
        <el-table-column type="expand">
          <template slot-scope="{ row }">
            <div class="evisa-applicants_container">
              <div class="evisa-applicants_wrapper">
                <div class="item-wrapper">
                  <div>Passport Number</div>
                  <div>{{ row.passportInfo.travelDocumentNumber }}</div>
                </div>
                <div class="item-wrapper">
                  <div>Last Name</div>
                  <div>{{ row.passportInfo.lastName }}</div>
                </div>
                <div class="item-wrapper">
                  <div>First Name</div>
                  <div>{{ row.passportInfo.firstNames }}</div>
                </div>
                <div class="item-wrapper">
                  <div>Date of Birth</div>
                  <div>{{ row.passportInfo.dateOfBirth }}</div>
                </div>
                <div class="item-wrapper">
                  <div>Date of Birth</div>
                  <div>{{ row.passportInfo.gender === 'F' ? 'Female' : 'Male' }}</div>
                </div>
                <div class="item-wrapper">
                  <div>Date of Birth</div>
                  <div>{{ row.passportInfo.gender === 'F' ? 'Female' : 'Male' }}</div>
                </div>
                <div class="item-wrapper">
                  <div>Gender</div>
                  <div>{{ row.passportInfo.gender === 'F' ? 'Female' : 'Male' }}</div>
                </div>
                <div class="item-wrapper">
                  <div>Issue Place</div>
                  <div>{{ row.passportInfo.travelDocumentIssuePlace }}</div>
                </div>
                <div class="item-wrapper">
                  <div>Date of Issue</div>
                  <div>{{ row.passportInfo.travelDocumentIssueDate }}</div>
                </div>
                <div class="item-wrapper">
                  <div>Date of Expiry</div>
                  <div>{{ row.passportInfo.travelDocumentExpiryDate }}</div>
                </div>
                <div class="item-wrapper">
                  <div>Nationality</div>
                  <div>{{ row.passportInfo.Nationality }}</div>
                </div>
              </div>
              <div class="evisa-applicants_images">
                <image-viewer
                  imgUrl="https://evoa.oss-ap-southeast-1.aliyuncs.com/709960663991123968_709960663991123968-ENT-2ce7a61f83.png"
                />
                <image-viewer
                  imgUrl="https://evoa.oss-ap-southeast-1.aliyuncs.com/709960663991123968_709960663991123968-ENT-2ce7a61f83.png"
                />
                <image-viewer
                  imgUrl="https://evoa.oss-ap-southeast-1.aliyuncs.com/709960663991123968_709960663991123968-ENT-2ce7a61f83.png"
                />
              </div>
            </div>
          </template>
        </el-table-column>
        <el-table-column align="left" label="Last Name">
          <template slot-scope="{ row }">{{ row.contactDetails.lastName }}</template>
        </el-table-column>
        <el-table-column align="left" label="First Name">
          <template slot-scope="{ row }">{{ row.contactDetails.firstName }}</template>
        </el-table-column>
        <el-table-column align="left" label="Mobile No.">
          <template slot-scope="{ row }">
            {{
            row.contactDetails.contactNumber
            ? row.contactDetails.contactNumber
            : ''
            }}
          </template>
        </el-table-column>
      </el-table>
    </div>
    <div class="check-box">
      <div class="check-label">Applicants checked:</div>
      <el-checkbox v-model="checked" @change="handleClick"></el-checkbox>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import {
  ITravelDetail,
  IPassportInfo,
  IApplicant,
} from '../../../interfaces/evisa';
import { ImmigrationDetailModule } from '../../../store/modules/ImmigrationDetail';
import ImageViewer from '../../../components/common/iviewer-image.vue';

@Component({
  name: 'Applicant',
  components: { ImageViewer },
})
export default class extends Vue {
  listLoading: boolean = false;
  id: string = '';
  checked: boolean = false;

  mounted() {
    this.id = this.$route.params.id;
    ImmigrationDetailModule.getImmigrationDetail(this.id);
  }

  get applicants() {
    return ImmigrationDetailModule.applicants;
  }

  handleClick(value: boolean) {
    const res = ImmigrationDetailModule.getImmigrationDetail(this.id);
    this.$emit('checkedApplicant', value);
  }
}
</script>

<style lang="scss" scoped>
.evisa-container {
  width: 100%;
  .evisa-table_container {
    width: 100%;
    .evisa-applicants_wrapper {
      display: flex;
      flex-direction: row;
      margin: 0 15px;
      width: 100%;
      flex-wrap: wrap;
      .item-wrapper {
        margin: 10px 10px 20px 0px;
        display: flex;
        flex-direction: row;
        width: 40%;
        justify-content: space-between;
      }
    }
    .evisa-applicants_images {
      display: flex;
      flex-direction: row;
      .images {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 10px;
        > img {
          width: 200px;
        }
      }
    }
    &-text {
      font-size: 30px;
      line-height: 46px;
    }
  }
  .check-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 20px;
    .check-label {
      padding-right: 10px;
    }
  }
}
</style>
