<template>
  <div class="flight-container">
    <el-tabs v-model="activeName" @tab-click="handleClick">
      <el-tab-pane label="Departure Flight Ticket" name="DEPARTURE">
        <div class="flight-wrapper">
          <div class="left-wrapper">
            <div v-for="(listItem, index) in flightDepartureMap" :key="index">
              <div class="item-wrapper">
                <div>{{ listItem.title }}</div>
                <div class="item-value">{{ listItem.value }}</div>
              </div>
            </div>
          </div>
          <div class="right-wrapper">
            <image-viewer
              imgUrl="https://evoa.oss-ap-southeast-1.aliyuncs.com/709960663991123968_709960663991123968-ENT-2ce7a61f83.png"
            />
          </div>
        </div>
      </el-tab-pane>
      <el-tab-pane label="Return Flight Ticket" name="RETURN">
        <div class="flight-wrapper">
          <div class="left-wrapper">
            <div v-for="(listItem, index) in flightArrivalMap" :key="index">
              <div class="item-wrapper">
                <div>{{ listItem.title }}</div>
                <div class="item-value">{{ listItem.value }}</div>
              </div>
            </div>
          </div>
          <div class="right-wrapper">
            <image-viewer
              imgUrl="https://evoa.oss-ap-southeast-1.aliyuncs.com/709960663991123968_709960663991123968-ENT-2ce7a61f83.png"
            />
          </div>
        </div>
      </el-tab-pane>
    </el-tabs>
    <div class="check-box">
      <div class="check-label">FlightTicket checked:</div>
      <el-checkbox v-model="checked" @change="handleClick"></el-checkbox>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { VisaDetailModule } from '../../../store/modules/VisaDetail';
import { mapFlight } from '../config/flight-ticket';
import {
  IDepartFlightInfo,
  IReturnFlightInfo,
} from '../../../interfaces/evisa';
import ImageViewer from '../../../components/common/iviewer-image.vue';

@Component({
  name: 'ImmigrationFlight',
  components: { ImageViewer },
})
export default class extends Vue {
  listLoading: boolean = false;
  activeName: 'DEPARTURE' | 'RETURN' = 'DEPARTURE';
  id: string = '';
  checked: boolean = false;

  get returnFlight() {
    return VisaDetailModule.returnFlightInfo;
  }

  get departureFlight() {
    return VisaDetailModule.departureFlightInfo;
  }

  get flightDepartureMap() {
    const flight = mapFlight(this.departureFlight as IDepartFlightInfo);
    return flight;
  }

  get flightArrivalMap() {
    const flight = mapFlight(this.returnFlight as IReturnFlightInfo);
    return flight;
  }

  mounted() {}

  handleClick(value: boolean) {
    this.$emit('checkedFlight', value);
  }
}
</script>

<style lang="scss" scoped>
.flight-container {
  width: 100%;
  .flight-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    .left-wrapper {
      width: 35%;
      display: flex;
      flex-direction: column;
      .item-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        line-height: 30px;
        .item-value {
          width: 50px;
        }
      }
    }
    .right-wrapper {
      width: 65%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .images {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        > img {
          width: 200px;
        }
      }
    }
  }
  .check-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;
    .check-label {
      padding-right: 10px;
      color: #090399;
    }
  }
}
</style>
