<template>
  <div class="accomodation-container">
    <div class="accomodation-details_header">Accommodation Details</div>
    <div class="accomodation-detail-wrapper">
      <div class="accomodation-text-wrapper">
        <div v-for="(listItem, index) in accomodations" :key="index">
          <div class="item-wrapper">
            <div>{{ listItem.title }}</div>
            <div class="item-value">{{ listItem.value }}</div>
          </div>
        </div>
      </div>
      <div class="right-wrapper">
        <image-viewer
          imgUrl="https://evoa.oss-ap-southeast-1.aliyuncs.com/709960663991123968_709960663991123968-ENT-2ce7a61f83.png"
        />
      </div>
    </div>
    <div class="check-box">
      <div class="check-label">Accomodation checked:</div>
      <el-checkbox v-model="checked" @change="handleClick"></el-checkbox>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import {
  IDepartFlightInfo,
  IReturnFlightInfo,
} from '../../../interfaces/evisa';
import { mapAccomodation } from '../../visa-detail/config/accomodation';
import { ImmigrationDetailModule } from '../../../store/modules/ImmigrationDetail';
import ImageViewer from '../../common/iviewer-image.vue';

@Component({
  name: 'Dashboard',
  components: { ImageViewer },
})
export default class extends Vue {
  listLoading: boolean = false;
  checked: boolean = false;

  get accommodation() {
    return ImmigrationDetailModule.accommodation;
  }

  get accomodations() {
    const accomodations = mapAccomodation(this.accommodation);
    return accomodations;
  }

  mounted() {}

  handleClick(value: boolean) {
    this.$emit('checkAccomodation', value);
  }
}
</script>

<style lang="scss" scoped>
.accomodation-container {
  width: 100%;
  .accomodation-details_header {
    padding: 12px 0;
    border-bottom: 1px solid #eee;
    margin-bottom: 16px;
    font-weight: 600;
  }
  .accomodation-detail-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    .accomodation-text-wrapper {
      width: 35%;
      display: flex;
      flex-direction: column;
      .item-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        line-height: 30px;
        .item-value {
          width: 150px;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
        }
      }
    }
    .right-wrapper {
      width: 65%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .images {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        > img {
          width: 200px;
        }
      }
    }
  }
  .check-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;
    .check-label {
      padding-right: 10px;
    }
  }
}
</style>
