<template>
  <div class="order-container">
    <order-select
      v-on:onOrderStatusChange="handleSelect"
      :currOption="outerOrderStatus"
    ></order-select>
    <div class="order-table_container">
      <el-table
        v-loading="listLoading"
        :data="orderslist"
        element-loading-text="Loading"
        fit
        highlight-current-row
        empty-text="There is no orders"
      >
        <el-table-column align="left" label="Order Id">
          <template slot-scope="{ row }">{{
            row.order_data.order_id
          }}</template>
        </el-table-column>
        <el-table-column align="left" label="Sku Id">
          <template slot-scope="{ row }">
            {{ row.order_data.sku_id }}
          </template>
        </el-table-column>
        <el-table-column align="left" label="Trade Id">
          <template slot-scope="{ row }">
            {{ row.order_data.trade_no }}
          </template>
        </el-table-column>
        <el-table-column align="left" label="Accomodation Info">
          <template slot-scope="{ row }">
            <el-button type="text" @click="handleClick(row)">View</el-button>
          </template>
        </el-table-column>
        <el-table-column align="left" label="Payment Status">
          <template slot-scope="{ row }">{{ row.payment_status }}</template>
        </el-table-column>
        <el-table-column align="left" label="Status">
          <template slot-scope="{ row }">{{ row.status }}</template>
        </el-table-column>
        <el-table-column align="left" label="Action">
          <template slot-scope="{ row }">
            <el-button type="text" @click="handleUpdate(row)">Update</el-button>
            <el-button
              type="text"
              @click="handleDelete(row.order_data.order_id)"
              >Delete</el-button
            >
          </template>
        </el-table-column>
      </el-table>
      <order-pagination
        :totalNum="outerTotal"
        :currNum="outerPage"
        v-on:onPageNavigation="handlePagination"
        v-if="!listLoading"
      ></order-pagination>
      <update-orders
        :currOrder="currOrderRow"
        :isOpen="isUpdateOpen"
        v-on:onCancel="handleCancel"
        v-on:onConfirm="handleConfirm"
      ></update-orders>
      <accomodation
        :accomodation="
          currOrderRow.order_data
            ? currOrderRow.order_data.accommodation_info
            : {}
        "
        :isOpen="isOuterOpen"
        v-on:onCloseDialog="handleClose"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import { OrdersModule } from '../../store/modules/orders';
import {
  IOrderInfo,
  IOrderData,
  IOrder,
  EOrderStatus,
} from '../../interfaces/order';
import Accomodation from './fragment/accomodation.vue';
import UpdateOrders from './fragment/update-order.vue';
import OrderPagination from './fragment/order-pagination.vue';
import OrderSelect from './fragment/order-select.vue';

@Component({
  name: 'OrdersTable',
  components: { Accomodation, UpdateOrders, OrderPagination, OrderSelect },
})
export default class extends Vue {
  listLoading: boolean = false;
  orderslist: Array<IOrderData> = [];
  isOuterOpen: boolean = false;
  isUpdateOpen: boolean = false;
  currOrderRow: any = {};
  outerPage: Number = 1;
  outerOrderStatus: string = '';
  outerTotal: Number = 0;

  mounted() {
    const first = Number(this.$route.query.pageNum) || 0;
    this.outerPage = first;
    const offSet = first ? first : 1;
    const search =
      (this.$route.query.search && this.$route.query.search.toString()) || null;
    this.outerOrderStatus = search || '';
    this.getData({ offset: offSet, search: search });
  }

  async getData({
    offset = 1,
    search = '',
  }: {
    offset: number;
    search?: string | null;
  }) {
    this.listLoading = true;
    this.orderslist = [];
    try {
      const res = await OrdersModule.getOrders({ offset, search });
      const orders = res ? res.order_infos : [];
      orders.length > 0 && this.orderslist.push(...orders);
      this.outerTotal = res ? res.page.total : 0;
      this.listLoading = false;
    } catch (e) {
      console.log(e);
    }
  }

  handleClick(row: IOrderData) {
    this.currOrderRow = { ...row };
    console.log('currentRow:', this.currOrderRow.order_data.accommodation_info);
    this.isOuterOpen = true;
  }

  handleClose() {
    this.isOuterOpen = false;
  }

  handleUpdate(row: IOrderData) {
    this.currOrderRow = { ...row };
    this.isUpdateOpen = true;
  }

  handleCancel() {
    this.isUpdateOpen = false;
  }

  async handleConfirm(data: { order: IOrderData; value: string }) {
    this.isUpdateOpen = false;
    const id = data.order.order_data.order_id;
    try {
      await OrdersModule.updateOrderStatus({ id, status: data.value });
      const res = this.handleQuery();
      this.getData(res);
    } catch (e) {
      console.log('e:', e);
    }
  }

  handleDelete(id: string) {
    this.$confirm(`Are you sure to delete order ${id} ?`, 'Warning', {
      confirmButtonText: 'OK',
      cancelButtonText: 'Cancel',
      callback: async action => {
        if (action === 'confirm') {
          try {
            await OrdersModule.deleteOrder(id);
            const res = this.handleQuery();
            this.getData({ ...res });
          } catch (e) {
            console.log('e', e);
          }
        }
      },
    });
  }

  handlePagination(value: number) {
    const queryParam = this.$route.query;
    const search = queryParam.search;
    const pageNum = value.toString() || '1';
    const currParam =
      search && search !== '' ? { pageNum, search } : { pageNum };
    this.$router.replace({ path: '/orders', query: currParam });
  }

  handleQuery() {
    const query = this.$route.query;
    const currPage = Number(query.pageNum);
    const offset = currPage ? currPage : 1;
    this.outerPage = offset;
    const search = query.search ? query.search.toString() : null;
    const currParam = search ? { offset: offset, search } : { offset };
    return currParam;
  }

  @Watch('$route', { immediate: true, deep: true })
  onRouteChange(to: any, from: any) {
    if (to && from && to.path === from.path) {
      const res = this.handleQuery();
      this.getData(res);
    }
  }

  handleSelect(value: string) {
    this.outerOrderStatus = value;
    const currParam = { offset: '1', search: value };
    this.$router.replace({ path: '/orders', query: currParam });
  }
}
</script>

<style lang="scss" scoped>
.dashboard {
  &-container {
    margin: 30px;
  }

  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}
.order-container {
  margin: 0px 30px;
}
</style>
