<template>
  <section class="immigration-main">
    <transition name="fade-transform" mode="out-in">
      <router-view />
    </transition>
  </section>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({
  name: 'Users',
})
export default class extends Vue {}
</script>

<style lang="scss" scoped>
.immigration-main {
  overflow: auto;
}
</style>