<template>
  <div class="user-container">
    <div class="user-table_container">
      <div class="user-management_header">
        <app-search :input.sync="outerInput" v-on:onInput="handleInput" />
        <el-button type="primary" size="small" @click="handleClick('create')"
          >+ Create Users</el-button
        >
      </div>
      <el-table
        v-loading="listLoading"
        :data="usersList"
        element-loading-text="Loading"
        fit
        highlight-current-row
      >
        <el-table-column align="left" label="ID">
          <template slot-scope="{ row }">{{ row.id }}</template>
        </el-table-column>
        <el-table-column align="left" label="Username">
          <template slot-scope="{ row }">{{ row.username }}</template>
        </el-table-column>
        <el-table-column align="left" label="Email">
          <template slot-scope="{ row }">{{ row.email }}</template>
        </el-table-column>
        <el-table-column align="left" label="Last Name">
          <template slot-scope="{ row }">{{ row.lastName }}</template>
        </el-table-column>
        <el-table-column align="left" label="First Name">
          <template slot-scope="{ row }">{{ row.firstName }}</template>
        </el-table-column>
        <el-table-column align="left" label="Action">
          <template slot-scope="{ row }">
            <div
              style="display: flex; justify-content: space-between; padding-right: 20px"
            >
              <el-link type="primary" @click="handleEdit(row.id)">Edit</el-link>
              <el-link type="primary" @click="handleDelete(row.id)"
                >Delete</el-link
              >
            </div>
          </template>
        </el-table-column>
      </el-table>
      <user-pagination
        :totalNum="outerTotal"
        v-on:updatePagination="handlePagination"
        :currNum="outerPage"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import { EVisaModule } from '@/store/modules/EVisa';
import { UsersModule } from '@/store/modules/UsersManagement';
import { IUser } from '@/interfaces/users-management';
import AppSearch from './fragment/search.vue';
import UserPagination from './fragment/user-pagination.vue';

@Component({
  name: 'Immigration',
  components: { AppSearch, UserPagination },
})
export default class extends Vue {
  listLoading: boolean = false;
  usersList: Array<IUser> = [];
  outerTotal: Number = 0;
  outerPage: Number = 0;
  outerInput: string = '';

  async mounted() {
    const first = Number(this.$route.query.pageNum) || 0;
    this.outerPage = first;
    const startIndex = first - 1 >= 0 ? (first - 1) * 10 : 0;
    const search =
      (this.$route.query.search && this.$route.query.search.toString()) || null;
    if (search && search !== '') {
      this.outerInput = search;
    }
    this.getData({ first: startIndex, search });
  }

  async getData({
    first = 0,
    search = '',
  }: {
    first: number;
    search: string | null;
  }) {
    this.usersList = [];
    this.listLoading = true;
    await this.getTotal(search!);
    try {
      const res = await UsersModule.getUsers({ first, search });
      this.usersList.push(...res);
      this.listLoading = false;
    } catch (e) {
      this.listLoading = false;
    }
  }

  handleClick(path: string, event: Event) {
    // event.preventDefault();
    this.$router.push(`/users/${path}`);
  }

  handleInput(value: string) {
    const queryParam = this.$route.query;
    const pageNum = (queryParam.first && queryParam.first.toString()) || '0';
    const currParam =
      value && value !== '' ? { pageNum, search: value } : { pageNum };
    this.outerInput = value;
    this.$router.replace({ path: '/users', query: currParam }); //TODO: add animation
  }

  @Watch('$route', { immediate: true, deep: true })
  onRouteChange(to: any, from: any) {
    if (to && from && to.path === from.path) {
      const queryParam = this.$route.query;
      const pageNum = Number(queryParam.pageNum) || 0;
      const first = (pageNum - 1) * 10;
      const search = (queryParam.search && queryParam.search.toString()) || '';
      this.getData({ first, search });
    }
  }

  async getTotal(search?: string) {
    try {
      const res = await UsersModule.getTotalNumberUsers(search || null);
      this.outerTotal = res.length;
    } catch (e) {
      console.log('total error:', e);
    }
  }

  handlePagination(value: number) {
    const queryParam = this.$route.query;
    const search = queryParam.search;
    const pageNum = value.toString() || '0';
    const currParam =
      search && search !== '' ? { pageNum, search } : { pageNum };
    this.$router.replace({ path: '/users', query: currParam }); //TODO: Fix pagination
  }

  handleEdit(id: string) {
    this.$router.push(`/users/edit/${id}`);
  }

  handleDelete(id: string) {
    this.$confirm(`Are you sure to delete user ${id}`, 'Delete User', {
      confirmButtonText: 'Yes',
      cancelButtonText: 'Cancel',
      callback: async action => {
        if (action === 'confirm') {
          try {
            await UsersModule.deleteUser(id);
            this.getData({ first: 0, search: '' });
          } catch (e) {
            this.$message('Delete user failed');
          }
        }
      },
    });
  }
}
</script>

<style lang="scss" scoped>
.user-container {
  margin: 30px;
  .user-table_container {
    .user-management_header {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
</style>
