<template>
  <div class="user-container">
    <el-form ref="userform" :model="form" :rules="userRules" label-width="220px">
      <el-form-item
        label="Create At"
        style="width:50%; min-width: 400px"
        prop="createAt"
      >{{form.createdTimestamp | dateFormat('YYYY MMM DD HH:mm')}}</el-form-item>
      <el-form-item label="Username" style="width:50%; min-width: 400px" prop="username">
        <el-input type="input" :value="form.username" disabled></el-input>
      </el-form-item>
      <el-form-item label="Email" style="width:50%; min-width: 400px" prop="email">
        <el-input type="input" v-model="form.email" placeholder="Please enter your email"></el-input>
      </el-form-item>
      <el-form-item label="First Name" style="width:50%; min-width: 400px" prop="firstName">
        <el-input type="input" v-model="form.firstName" placeholder="Please enter your first Name"></el-input>
      </el-form-item>
      <el-form-item label="LastName" style="width:50%; min-width: 400px" prop="lastName">
        <el-input type="input" v-model="form.lastName" placeholder="Please enter your last Name"></el-input>
      </el-form-item>

      <el-form-item label="User Enabled" prop="enabled">
        <el-switch v-model="form.enabled"></el-switch>
      </el-form-item>
      <el-form-item label="Email Verified">
        <el-switch v-model="form.emailVerified"></el-switch>
      </el-form-item>
      <el-form-item label="Required User Actions" prop="type">
        <el-select v-model="form.requiredActions" placeholder="Select" multiple>
          <el-option label="Update Password" value="UPDATE_PASSWORD"></el-option>
          <el-option label="Configure OTP" value="CONFIGURE_TOTP"></el-option>
          <el-option label="Update Profile" value="UPDATE_PROFILE"></el-option>
          <el-option label="Verify Email" value="VERIFY_EMAIL"></el-option>
          <el-option label="Update User Locale" value="update_user_locale"></el-option>
        </el-select>
      </el-form-item>
    </el-form>
    <div class="user-bottom">
      <el-button type="primary" @click.prevent="handleSubmit">Submit</el-button>
      <el-button @click="handleCancel">Cancel</el-button>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import { EUserActions, IEditUser } from '../../../interfaces/users-management';
import { UsersModule } from '../../../store/modules/UsersManagement';

@Component({
  name: 'UserDetail',
})
export default class extends Vue {
  listLoading: boolean = false;
  id: string = '';
  form: IEditUser = {
    createdTimestamp: 0,
    username: null,
    email: null,
    firstName: '',
    lastName: '',
    enabled: false,
    emailVerified: false,
    requiredActions: [],
  };
  userRules = {
    email: [
      {
        required: true,
        message: 'Please input email',
        trigger: ['blur', 'change'],
      },
    ],
    firstName: [
      {
        required: true,
        message: 'Please input first name',
        trigger: ['blur', 'change'],
      },
    ],
    lastName: [
      {
        required: true,
        message: 'Please input email',
        trigger: ['blur', 'change'],
      },
    ],
    type: [
      {
        required: true,
        trigger: 'change',
        validator: (rule: any, value: any, callback: any) => {
          if (this.form.requiredActions.length === 0) {
            return callback(new Error('This is a required field'));
          }
          setTimeout(() => {
            if (this.form.requiredActions.length === 0) {
              callback(new Error('This is a required field'));
            } else {
              callback();
            }
          }, 0);
        },
      },
    ],
    enabled: [
      {
        validator: (rule: any, value: any, callback: any) => {
          if (!value) {
            return callback(new Error('Please check this switch'));
          }
          setTimeout(() => {
            if (!value) {
              callback(new Error('Please check this switch'));
            } else {
              callback();
            }
          }, 0);
        },
        trigger: 'change',
      },
    ],
  };

  async mounted() {
    this.id = this.$route.params.id;
    this.getData(this.id);
  }

  async getData(id: string) {
    const res = await UsersModule.getUserById(id);
    this.form.createdTimestamp = res.createdTimestamp;
    this.form.username = res.username;
    this.form.enabled = res.enabled;
    this.form.emailVerified = res.emailVerified;
    this.form.requiredActions = res.requiredActions;
  }

  handleSubmit() {
    (this.$refs['userform'] as any).validate((valid: any) => {
      if (valid) {
        // alert('submit!');
        console.log('valid');
        this.handleUpdateUser();
      } else {
        console.log('error submit!!');
        return false;
      }
    });
  }

  async handleUpdateUser() {
    try {
      await UsersModule.updateUserById({ ...this.form, id: this.id }); // TODO: cant use api
    } catch (e) {
      console.log('e:', e);
    }
  }

  handleCancel() {
    this.$confirm('Are you sure to canel?', 'User', {
      confirmButtonText: 'Yes',
      cancelButtonText: 'Cancel',
      callback: action => {
        if (action === 'confirm') {
          (this.$refs['userform'] as any).resetFields();
          this.$router.push('/users');
        }
      },
    });
  }
}
</script>

<style lang="scss" scoped>
.user-container {
  margin: 30px;
  .user-bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    > button {
      width: 110px;
    }
  }
}
</style>