<template>
  <div class="flight-container">
    <el-tabs v-model="activeName" @tab-click="handleClick">
      <el-tab-pane label="Update Detail" name="DETAIL">
        <edit-user />
      </el-tab-pane>
      <el-tab-pane label="Update Password" name="PASSWORD">
        <update-password />
      </el-tab-pane>
      <el-tab-pane label="Role Mapping" name="ROLE">
        <role-mapping />
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { mapFlight } from '../../visa-detail/config/flight-ticket';
import {
  IDepartFlightInfo,
  IReturnFlightInfo,
} from '../../../interfaces/evisa';
import { ImmigrationDetailModule } from '../../../store/modules/ImmigrationDetail';
import EditUser from './edit.vue';
import UpdatePassword from './update-password.vue';
import RoleMapping from './role-mapping.vue';

@Component({
  name: 'Dashboard',
  components: { EditUser, UpdatePassword, RoleMapping },
})
export default class extends Vue {
  listLoading: boolean = false;
  activeName: 'DETAIL' | 'PASSWORD' | 'ROLE' = 'ROLE';
  id: string = '';
  checked: boolean = false;

  get returnFlight() {
    return ImmigrationDetailModule.returnFlightInfo;
  }

  get departureFlight() {
    return ImmigrationDetailModule.departureFlightInfo;
  }

  get flightDepartureMap() {
    const flight = mapFlight(this.departureFlight as IDepartFlightInfo);
    return flight;
  }

  get flightArrivalMap() {
    const flight = mapFlight(this.returnFlight as IReturnFlightInfo);
    return flight;
  }

  mounted() {}

  handleClick(value: boolean) {
    this.$emit('checkedFlight', value);
  }
}
</script>

<style lang="scss" scoped>
.flight-container {
  width: 80%;
  margin: 0px auto;
  .flight-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    .left-wrapper {
      width: 35%;
      display: flex;
      flex-direction: column;
      .item-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        line-height: 30px;
        .item-value {
          width: 150px;
          display: flex;
          justify-content: flex-end;
        }
      }
    }
    .right-wrapper {
      width: 65%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .images {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        > img {
          width: 200px;
        }
      }
    }
  }
  .check-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;
    .check-label {
      padding-right: 10px;
    }
  }
}
</style>