<template>
  <div class="user-container">
    <el-transfer
      v-model="value"
      :data="data"
      :titles="['Assiged Roles','Available Roles' ]"
      empty="No Roles"
    ></el-transfer>
    <div class="user-bottom">
      <el-button type="primary" @click="handleSubmit">Submit</el-button>
      <el-button @click="handleCancel">Cancel</el-button>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import {
  EUserActions,
  IEditUser,
  IUpdatePassword,
} from '../../../interfaces/users-management';
import { UsersModule } from '../../../store/modules/UsersManagement';

@Component({
  name: 'UserDetail',
})
export default class extends Vue {
  listLoading: boolean = false;
  id: string = '';
  data: Array<{ key: number; label: string }> = [
    { key: 0, label: '1' },
    { key: 1, label: '2' },
    { key: 2, label: '3' },
    { key: 3, label: '4' },
  ];
  value: any = [];

  async mounted() {
    this.id = this.$route.params.id;
    this.getAvailableRoles();
    this.getAssignedRoles();
  }

  async getAvailableRoles() {
    const res = await UsersModule.getAvaiableRoles(this.id); //TODO: find data to push to value
  }

  async getAssignedRoles() {
    const res: any = await UsersModule.getAssignedRoles(this.id);
    const roles = Object.keys(res).map((key, index) => {
      return { key: index, label: res[key].name };
    });
    this.data = [...roles];
  }

  async handleSubmit() {
    const assignedRoles = this.data.reduce((acc, curr) => {
      acc.push(curr.label);
      return acc;
    }, [] as Array<string>);

    await UsersModule.submitAssignedRoles({
      roleList: assignedRoles,
      id: this.id,
    });
  }

  handleCancel() {
    this.$confirm('Are you sure to canel?', 'Role Mapping', {
      confirmButtonText: 'Yes',
      cancelButtonText: 'Cancel',
      callback: action => {
        //TODO: mapping roles
      },
    });
  }
}
</script>

<style lang="scss" scoped>
.user-container {
  margin: 30px;
  .user-bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    > button {
      width: 110px;
    }
  }
}
</style>