<template>
  <div class="user-container">
    <el-form ref="userform" :model="form" :rules="userRules" label-width="220px">
      <el-form-item label="Password" style="width:50%; min-width: 400px" prop="password">
        <el-input type="input" :value="form.password"></el-input>
      </el-form-item>
      <el-form-item
        label="confirmPassword"
        style="width:50%; min-width: 400px"
        prop="confirmPassword"
      >
        <el-input type="input" :value="form.confirmPassword"></el-input>
      </el-form-item>
      <el-form-item label="Temporary" prop="temporary">
        <el-switch v-model="form.temporary"></el-switch>
      </el-form-item>
    </el-form>
    <div class="user-bottom">
      <el-button type="primary" @click="handleSubmit">Submit</el-button>
      <el-button @click="handleCancel">Cancel</el-button>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import {
  EUserActions,
  IEditUser,
  IUpdatePassword,
} from '../../../interfaces/users-management';
import { UsersModule } from '../../../store/modules/UsersManagement';

@Component({
  name: 'UserDetail',
})
export default class extends Vue {
  listLoading: boolean = false;
  id: string = '';
  form: IUpdatePassword = {
    password: '',
    confirmPassword: '',
    temporary: false, // TODO: use temporary
  };
  userRules = {
    password: [
      {
        required: true,
        message: 'Please input password',
        trigger: ['blur', 'change'],
      },
    ],
    confirmPassword: [
      {
        required: true,
        message: 'Please confirm your password',
        trigger: ['blur', 'change'],
      },
    ],
    temporary: [
      {
        validator: (rule: any, value: any, callback: any) => {
          if (!value) {
            return callback(new Error('Please check this switch'));
          }
          setTimeout(() => {
            if (!value) {
              callback(new Error('Please check this switch'));
            } else {
              callback();
            }
          }, 0);
        },
        trigger: 'change',
      },
    ],
  };

  async mounted() {
    this.id = this.$route.params.id;
  }

  handleSubmit() {
    (this.$refs['userform'] as any).validate((valid: any) => {
      if (valid) {
        // alert('submit!');
        console.log('valid');
        this.handleUpdatePassword();
      } else {
        console.log('error submit!!');
        return false;
      }
    });
  }

  async handleUpdatePassword() {
    try {
      await UsersModule.updatePassword({ ...this.form, id: this.id }); // TODO: cant use api
      this.$message('Password update succesfully');
    } catch (e) {
      console.log('e:', e);
    }
  }

  handleCancel() {
    this.$confirm('Are you sure to canel?', 'User', {
      confirmButtonText: 'Yes',
      cancelButtonText: 'Cancel',
      callback: action => {
        if (action === 'confirm') {
          (this.$refs['userform'] as any).resetFields();
        }
      },
    });
  }
}
</script>

<style lang="scss" scoped>
.user-container {
  margin: 30px;
  .user-bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    > button {
      width: 110px;
    }
  }
}
</style>