<template>
  <el-scrollbar wrap-class="scrollbar-wrapper">
    <h1>Logo</h1>
    <el-menu
      :collapse="isCollapse"
      :background-color="variables.menuBg"
      :text-color="variables.menuText"
      :active-text-color="variables.menuActiveText"
      :unique-opened="false"
      :collapse-transition="false"
      mode="vertical"
      :default-active="activeIndex"
    >
      <sidebar-item
        v-for="menu in sideBar"
        :key="menu.link"
        :item="menu"
        :base-path="menu.link"
        :is-collapse="isCollapse"
      />
    </el-menu>
  </el-scrollbar>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { AppModule } from '@/store/modules/app';
import SidebarItem from './SidebarItem.vue';
import variables from '@/styles/_variables.scss';

@Component({
  name: 'SideBar',
  components: {
    SidebarItem,
  },
})
export default class extends Vue {
  sideBar: Array<{
    title: string;
    path: string;
    icon: string;
    hidden: boolean;
    children: [];
    index: string;
  }> = [
    // {
    //   title: 'E-Visa List',
    //   path: '/evisa',
    //   icon: 'el-icon-data-analysis',
    //   children: [],
    //   hidden: false,
    //   index: '1',
    // },
    // {
    //   title: 'Immigration Office',
    //   path: '/immigration',
    //   icon: 'el-icon-suitcase-1',
    //   children: [],
    //   hidden: false,
    //   index: '2',
    // },
    // {
    //   title: 'User Management',
    //   path: '/users',
    //   icon: 'el-icon-user',
    //   children: [],
    //   hidden: false,
    //   index: '3',
    // },
    {
      title: 'Orders Management',
      path: '/orders',
      icon: 'el-icon-shopping-cart-1',
      children: [],
      hidden: false,
      index: '1',
    },
  ];

  activeIndex: string = '';

  get sidebar() {
    return AppModule.sidebar;
  }

  get variables() {
    return variables;
  }

  get isCollapse() {
    return !this.sidebar.opened;
  }

  mounted() {
    this.activeMenu();
  }

  activeMenu() {
    const res = this.$route.path;
    const currSidebar = this.sideBar.find(item => item.path === res);
    this.activeIndex = currSidebar ? currSidebar.index : '1';
  }
}
</script>

<style lang="scss">
.sidebar-container {
  // reset element-ui css
  .horizontal-collapse-transition {
    transition: 0s width ease-in-out, 0s padding-left ease-in-out,
      0s padding-right ease-in-out;
  }

  .scrollbar-wrapper {
    overflow-x: hidden !important;
  }

  .el-scrollbar__view {
    height: 100%;
  }

  .el-scrollbar__bar {
    &.is-vertical {
      right: 0px;
    }

    &.is-horizontal {
      display: none;
    }
  }
}
</style>

<style lang="scss" scoped>
.el-scrollbar {
  height: 100%;
}

.el-menu {
  border: none;
  height: 100%;
  width: 100% !important;
}
</style>
