<template>
  <div
    v-if="!item.hidden"
    :class="[
      'menu-wrapper',
      isCollapse ? 'simple-mode' : 'full-mode',
      { 'first-level': isFirstLevel },
    ]"
  >
    <template v-if="item.children.length === 0">
      <sidebar-item-link :to="resolvePath(item.path)">
        <el-menu-item
          :index="resolvePath(item.index)"
          :class="{ 'submenu-title-noDropdown': isFirstLevel }"
          :disabled="item.index === '4'"
        >
          <i v-if="item.icon" :class="item.icon"></i>
          <span v-if="item.title" slot="title">{{ item.title }}</span>
        </el-menu-item>
      </sidebar-item-link>
    </template>
    <el-submenu v-else :index="resolvePath(item.path)" popper-append-to-body>
      <template slot="title">
        <i v-if="item.icon" :class="item.icon"></i>
        <span v-if="item.title" slot="title">{{ item.title }}</span>
      </template>
      <template v-if="item.children">
        <sidebar-item
          v-for="child in item.children"
          :key="child.path"
          :item="child"
          :is-collapse="isCollapse"
          :is-first-level="false"
          :base-path="resolvePath(child.path)"
          class="nest-menu"
        />
      </template>
    </el-submenu>
  </div>
  <div v-else>menu</div>
</template>

<script lang="ts">
import path from 'path';
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Route, RouteConfig } from 'vue-router';
import { isExternal } from '@/utils/validate';
import SidebarItemLink from './SidebarItemLink.vue';

@Component({
  // Set 'name' here to prevent uglifyjs from causing recursive component not work
  // See https://medium.com/haiiro-io/element-component-name-with-vue-class-component-f3b435656561 for detail
  name: 'SidebarItem',
  components: {
    SidebarItemLink,
  },
})
export default class extends Vue {
  @Prop({ required: true }) private item!: {
    title: string;
    link: string;
    icon: string;
    hidden: boolean;
    children: [];
  };
  @Prop({ default: false }) private isCollapse!: boolean;
  @Prop({ default: true }) private isFirstLevel!: boolean;
  @Prop({ default: '' }) private basePath!: string;

  mounted() {}

  private resolvePath(routePath: string) {
    // if (isExternal(routePath)) {
    //   return routePath;
    // }
    // // if (isExternal(this.basePath)) {
    //   return this.basePath;
    // }
    // return path.resolve(this.basePath, routePath);
    return routePath;
  }
}
</script>

<style lang="scss">
.el-submenu.is-active > .el-submenu__title {
  color: $subMenuActiveText !important;
}

.full-mode {
  .nest-menu .el-submenu > .el-submenu__title,
  .el-submenu .el-menu-item {
    min-width: $sideBarWidth !important;
    background-color: $subMenuBg !important;

    &:hover {
      background-color: $subMenuHover !important;
    }
  }
}

.simple-mode {
  &.first-level {
    .submenu-title-noDropdown {
      padding: 0 !important;
      position: relative;

      .el-tooltip {
        padding-left: 15px !important;
      }
    }

    .el-submenu {
      overflow: hidden;

      & > .el-submenu__title {
        padding-left: 15px !important;

        .el-submenu__icon-arrow {
          display: none;
        }

        & > span {
          //visibility: hidden;
          display: none;
        }
      }
    }
  }
}
</style>
