<template>
  <div class="app-footer">E-VOA Admin ©2020 Powered by SenseTime</div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({
  name: 'Footer',
})
export default class extends Vue {}
</script>

<style lang="scss" scoped>
.app-footer {
  height: 60px;
  overflow: hidden;
  background: #e6ebf5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
</style>
