<template>
  <div class="visa-detail_container">
    <div @click="handleClick()" class="visa-detail_ref">
      Ref No. {{ this.id }}
    </div>
    <div class="item-wrapper">
      <flight-ticket v-on:checkedFlight="flight = $event"></flight-ticket>
    </div>
    <div class="item-wrapper">
      <accomodation
        v-on:checkedAccomodation="accomodation = $event"
      ></accomodation>
    </div>
    <div class="item-wrapper">
      <applicants v-on:checkedApplicant="applicants = $event"></applicants>
    </div>
    <div class="visa-detail_bottom">
      <el-button type="default" :disabled="allChecked" @click="handleReject"
        >Reject</el-button
      >
      <el-button type="primary" :disabled="allChecked" @click="handleApprove"
        >Approve</el-button
      >
    </div>
    <reject-dialog
      :isOpen="isOuterOpen"
      v-on:close-dialog="handleClose"
    ></reject-dialog>
  </div>
</template>

<script lang="tsx">
import { Component, Vue } from 'vue-property-decorator';
import FlightTicket from './fragment/flight-ticket.vue';
import { VisaDetailModule } from '../../store/modules/VisaDetail';
import Accomodation from './fragment/accomodation.vue';
import Applicants from './fragment/applicants.vue';
import { ImmigrationModule } from '../../store/modules/Immigration';
import RejectDialog from '../common/reject-dialog.vue';

@Component({
  name: 'VisaDetail',
  components: { FlightTicket, Accomodation, Applicants, RejectDialog },
})
export default class extends Vue {
  listLoading: boolean = false;
  id: string = '';
  flight: boolean = false;
  accomodation: boolean = false;
  applicants: boolean = false;
  isOuterOpen: boolean = false;

  beforeRouteEnter(to: any, from: any, next: any) {
    next((vm: any) => {
      vm.isOuterOpen = false;
    });
  }

  mounted() {
    this.id = this.$route.params.id;
    VisaDetailModule.getVisaDetail(this.id);
  }

  get allChecked() {
    const res = this.flight && this.accomodation && this.applicants;
    return !res;
  }

  handleApprove() {
    this.$confirm('Confirm approve this E-Visa application?', 'Approve', {
      confirmButtonText: 'Ok',
      cancelButtonText: 'Cancel',
      callback: async action => {
        if (action === 'confirm') {
          try {
            const res = await VisaDetailModule.apporveImmigrations({
              id: this.id,
              actionType: 'APPROVE',
              comments: 'OK',
            });
            this.$message({
              type: 'info',
              message: 'Successfully approve the application',
            });
            this.$router.push('/');
          } catch (e) {
            console.log('e:', e);
          }
        }
      },
    });
  }

  handleReject() {
    this.isOuterOpen = true;
  }

  async handleClose(rejectReasons: Array<string>) {
    this.isOuterOpen = false;
    try {
      const res = await VisaDetailModule.apporveImmigrations({
        id: this.id,
        actionType: 'Approve',
        comments: rejectReasons.join(','),
      });
      this.$message({
        type: 'info',
        message: 'Successfully',
      });
      this.$router.push('/');
    } catch (e) {
      console.log('e:', e);
    }
  }
}
</script>

<style lang="scss" scoped>
.dashboard {
  &-container {
    margin: 30px;
  }

  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}
.visa-detail_container {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
  .item-wrapper {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .visa-detail_ref {
    margin-top: 10px;
    color: #5d5d5d;
  }
  .visa-detail_bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 20px 0px;
    > button {
      width: 110px;
    }
  }
}
</style>
