<template>
  <el-dialog
    title="Accomodations"
    :visible.sync="isOpen"
    width="50%"
    :before-close="handleClose"
  >
    <div class="item-wrapper">
      <div>City</div>
      <div>{{ accomodation.city }}</div>
    </div>
    <div class="item-wrapper">
      <div>District</div>
      <div>{{ accomodation.district }}</div>
    </div>
    <div class="item-wrapper">
      <div>Hotel Address</div>
      <div>{{ accomodation.hotel_address }}</div>
    </div>
    <div class="item-wrapper">
      <div>Hotel Name</div>
      <div>{{ accomodation.hotel_name }}</div>
    </div>
    <div class="image-wrapper">
      <img
        src="https://evoa.oss-ap-southeast-1.aliyuncs.com/709960663991123968_709960663991123968-ENT-2ce7a61f83.png"
        class="image-item"
      />
    </div>
    <span slot="footer" class="dialog-footer">
      <el-button @click="handleClose">Cancel</el-button>
      <el-button type="primary" @click="handleClose">Confirm</el-button>
    </span>
  </el-dialog>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator';
import { IAccommodation } from '../../../interfaces/order';

@Component({
  name: 'Accomodation',
})
export default class extends Vue {
  @Prop() accomodation!: IAccommodation;
  @Prop() isOpen: boolean = false;

  mounted() {}

  handleClose() {
    this.$emit('onCloseDialog');
  }
}
</script>

<style lang="scss" scoped>
.item-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 30px;
}
.image-wrapper {
  width: 80%;
  margin: 0px auto;
  .image-item {
    width: 100%;
  }
}
</style>
