<template>
  <div class="order-pagination">
    <el-pagination
      background
      layout="pager"
      :total="totalNum"
      @current-change="handleChange"
      :current-page="currNum"
      :page-size="DEFAULTPAGESIZE"
      v-if="totalNum !== 0"
    ></el-pagination>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator';

@Component({
  name: 'OrderPagination',
})
export default class extends Vue {
  @Prop() totalNum!: Number;
  @Prop() currNum!: Number;

  DEFAULTPAGESIZE = 10;

  mounted() {}

  handleClose() {
    this.$emit('onCloseDialog');
  }

  handleChange(value: number) {
    this.$emit('onPageNavigation', value);
  }
}
</script>

<style lang="scss" scoped>
.order-pagination {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10px;
}
</style>
