<template>
  <div class="order-select">
    <div class="order-title">Order Status:</div>
    <el-select v-model="value" placeholder="Select" @change="handleChange">
      <el-option
        v-for="item in orderStatusOptions"
        :key="item"
        :label="item"
        :value="item"
      >
      </el-option>
    </el-select>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator';
import { EOrderStatus } from '../../../interfaces/order';

@Component({
  name: 'OrderSelect',
})
export default class extends Vue {
  @Prop() currOption!: string;
  value: string = '';

  get orderStatusOptions() {
    const res = Object.keys(EOrderStatus);
    return res;
  }

  mounted() {}

  handleChange(value: number) {
    this.$emit('onOrderStatusChange', value);
  }

  @Watch('currOption', { immediate: true, deep: true })
  onCurrOrderChange(val: string, oldVal: string) {
    this.value = val;
  }
}
</script>

<style lang="scss" scoped>
.order-select {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0px;
  .order-title {
    font-size: 14px;
    margin: 0px 10px;
  }
}
</style>
