<template>
  <el-dialog
    title="Update Order Status"
    :visible.sync="isOpen"
    width="50%"
    :before-close="handleCancel"
    ref="order_id"
    :destroy-on-close="true"
  >
    <el-select v-model="value" placeholder="Select">
      <el-option
        v-for="item in orderStatusOptions"
        :key="item"
        :label="item"
        :value="item"
      >
      </el-option>
    </el-select>
    <span slot="footer" class="dialog-footer">
      <el-button @click="handleCancel">Cancel</el-button>
      <el-button type="primary" @click="handleConfirm">Confirm</el-button>
    </span>
  </el-dialog>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator';
import {
  IOrderData,
  IOrderInfo,
  IOrder,
  EOrderStatus,
} from '../../../interfaces/order';

@Component({
  name: 'UpdateOrder',
})
export default class extends Vue {
  @Prop() currOrder: IOrderData | undefined;
  @Prop() isOpen: boolean = false;
  value: string = '';

  get orderStatusOptions() {
    const res = Object.keys(EOrderStatus);
    return res;
  }

  mounted() {
    this.value = this.currOrder ? this.currOrder.status : 'STATUS_INIT';
  }

  @Watch('currOrder', { immediate: true, deep: true })
  onCurrOrderChange(val: IOrderInfo, oldVal: IOrderInfo) {
    this.value = this.currOrder ? this.currOrder.status : 'STATUS_INIT';
  }

  handleCancel() {
    this.$emit('onCancel');
  }

  handleConfirm() {
    console.log('order:', this.value);
    this.$emit('onConfirm', { order: this.currOrder, value: this.value });
  }
}
</script>

<style lang="scss" scoped>
.el-select {
  width: 100%;
}
</style>
