<template>
  <div class="search-container">
    <form v-on:submit.prevent="handleSubmit">
      <el-input
        placeholder="Please input name"
        v-model="input"
        suffix-icon="el-icon-search"
        size="small"
      ></el-input>
    </form>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

@Component({
  name: 'Immigration',
})
export default class extends Vue {
  @Prop() input: string = '';
  // input: string = '';
  mounted() {}

  handleSubmit() {
    console.log('input:', this.input);
    this.$emit('onInput', this.input);
  }
}
</script>

<style lang="scss" scoped>
.search-container {
  width: 20%;
  max-width: 200px;
  min-width: 110px;
}
</style>