<template>
  <div class="pagination-wrapper">
    <el-pagination
      background
      layout="pager"
      :total="totalNum"
      @current-change="handleChange"
      :current-page="currNum"
      :page-size="DEFAULTPAGESIZE"
      v-if="totalNum!==0"
    ></el-pagination>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator';

@Component({
  name: 'Immigration',
})
export default class extends Vue {
  @Prop() totalNum: number = 0;
  @Prop() currNum: number = 0; //TODO: find way to resolve default page
  input: string = '';
  DEFAULTPAGESIZE: number = 10;

  handleSubmit() {
    this.$emit('onInput', this.input);
  }
  handleChange(value: number) {
    this.$emit('updatePagination', value);
  }
}
</script>

<style lang="scss" scoped>
.search-container {
  width: 20%;
  max-width: 200px;
  min-width: 110px;
}
.pagination-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10px;
}
</style>