<template>
  <div class="image-viewer_container">
    <div v-if="imgUrl && imgUrl!==''" class="images" v-viewer="{ movable: true }">
      <img
        :src="'https://evoa.oss-ap-southeast-1.aliyuncs.com/709960663991123968_709960663991123968-ENT-2ce7a61f83.png'"
        :key="'https://evoa.oss-ap-southeast-1.aliyuncs.com/709960663991123968_709960663991123968-ENT-2ce7a61f83.png'"
      />
    </div>
    <div v-else>
      <div class="image-empty">No Images</div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import 'viewerjs/dist/viewer.css';
import Viewer from 'v-viewer';

Vue.use(Viewer);

@Component({
  name: 'IViewerImage',
})
export default class extends Vue {
  @Prop() imgUrl!: string | null;
  listLoading: boolean = false;

  mounted() {}
}
</script>

<style lang="scss" scoped>
.image-viewer_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  .images {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    > img {
      width: 200px;
    }
  }
  .image-empty {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
</style>
