<template>
  <!--- TODO: Remove to global dialog--->
  <el-dialog title="Tips" :visible="isOpen" width="30%" :before-close="handleClose">
    <el-checkbox
      :indeterminate="isIndeterminate"
      v-model="checkAll"
      @change="handleCheckAllChange"
    >Check all</el-checkbox>
    <div style="margin: 15px 0;"></div>
    <el-checkbox-group v-model="checkedResons" @change="handleCheckedCitiesChange">
      <el-checkbox v-for="(item, index) in reasonOptions" :label="item" :key="index">{{item}}</el-checkbox>
    </el-checkbox-group>
    <span slot="footer" class="dialog-footer">
      <el-button @click="handleClose">Cancel</el-button>
      <el-button type="primary" @click="handleClose">Confirm</el-button>
    </span>
  </el-dialog>
  <!--- TODO: Remove to global dialog--->
</template>

<script lang="tsx">
import { Component, Vue, Prop } from 'vue-property-decorator';

@Component({})
export default class extends Vue {
  reasons: Array<string> = [];
  checkAll: boolean = false;
  checkedResons: Array<string> = [];
  reasonOptions: Array<string> = [
    'Departure flight details is incorrect',
    'Return flight details is incorrect',
    'Accommodation details is incorrect',
    'Applicants details is incorrect',
  ];
  isIndeterminate: boolean = true;

  @Prop() isOpen: boolean = false;

  handleCheckAllChange(value: boolean) {
    this.checkedResons = value ? this.checkedResons : [];
    this.isIndeterminate = false;
  }

  handleCheckedCitiesChange(value: Array<string>) {
    const checkedCount = value.length;
    this.checkAll = checkedCount === this.reasonOptions.length;
    this.isIndeterminate =
      checkedCount > 0 && checkedCount < this.reasonOptions.length;
  }

  handleClose() {
    console.log('reject close');
    this.$emit('close-dialog', this.checkedResons);
  }
}
</script>
