<template>
  <div class="immigration-container">
    <div class="immigration-table_container">
      <el-table
        v-loading="listLoading"
        :data="immigrationList"
        element-loading-text="Loading"
        fit
        highlight-current-row
      >
        <el-table-column align="left" label="Ref No">
          <template slot-scope="{ row }">{{ row.id }}</template>
        </el-table-column>
        <el-table-column align="left" label="Arrival Date, Time">
          <template slot-scope="{ row }">
            {{
            row.travelDetails.departFlightInfo.arrivalTime
            | dateFormat('YYYY MMM DD HH:mm')
            }}
          </template>
        </el-table-column>
        <el-table-column align="left" label="Return Date, Time">
          <template slot-scope="{ row }">
            {{
            row.travelDetails.returnFlightInfo.arrivalTime
            | dateFormat('YYYY MMM DD HH:mm')
            }}
          </template>
        </el-table-column>
        <el-table-column align="left" label="From">
          <template slot-scope="{ row }">
            {{
            row.travelDetails.departFlightInfo.departureAirport.city || null
            }}
          </template>
        </el-table-column>
        <el-table-column align="left" label="To">
          <template
            slot-scope="{ row }"
          >{{ row.travelDetails.departFlightInfo.arrivalAirport.city || null }}</template>
        </el-table-column>
        <el-table-column align="left" label="Applicant">
          <template slot-scope="{ row }">{{ row.applicants.length }}</template>
        </el-table-column>
        <el-table-column align="left" label="Status">
          <template>
            <el-tag type="warning">Pending</el-tag>
          </template>
        </el-table-column>
        <el-table-column align="left" label="Action">
          <template slot-scope="{ row }">
            <el-link type="primary" @click="handleClick(row.id)">Detail</el-link>
          </template>
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { EVisaModule } from '@/store/modules/EVisa';
import { ImmigrationModule } from '@/store/modules/Immigration';
import { IImigration } from '@/interfaces/immigration';

@Component({
  name: 'Immigration',
})
export default class extends Vue {
  listLoading: boolean = false;
  immigrationList: Array<IImigration> = [];
  mounted() {
    this.getData();
  }

  async getData() {
    this.listLoading = true;
    try {
      const res = await ImmigrationModule.getImmigrations();
      this.immigrationList.push(...res);
      this.listLoading = false;
    } catch (e) {
      console.log(e);
    }
  }

  handleClick(id: string) {
    this.$router.push(`/immigration/immigration-detail/${id}`);
  }
}
</script>

<style lang="scss" scoped>
.immigration {
  &-container {
    margin: 30px;
  }

  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}
</style>
