<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import router from './router';

@Component({
  name: 'App',
})
export default class extends Vue {
  mounted() {
    // this.$router.push('/dashboard');
  }
}
</script>
