<template>
  <div class="evisa-container">
    <div class="evisa-table_container">
      <el-table
        v-loading="listLoading"
        :data="eVisaList"
        element-loading-text="Loading"
        fit
        highlight-current-row
        empty-text="There is no evisa applications"
      >
        <el-table-column align="left" label="Ref No">
          <template slot-scope="{ row }">{{ row.id }}</template>
        </el-table-column>
        <el-table-column align="left" label="Arrival Date, Time">
          <template slot-scope="{ row }">
            {{
            row.travelDetails.departFlightInfo.arrivalTime
            | dateFormat('YYYY MMM DD HH:mm')
            }}
          </template>
        </el-table-column>
        <el-table-column align="left" label="Return Date, Time">
          <template slot-scope="{ row }">
            {{
            row.travelDetails.returnFlightInfo.arrivalTime
            | dateFormat('YYYY MMM DD HH:mm')
            }}
          </template>
        </el-table-column>
        <el-table-column align="left" label="From">
          <template slot-scope="{ row }">
            {{
            row.travelDetails.departFlightInfo.departureAirport.city || null
            }}
          </template>
        </el-table-column>
        <el-table-column align="left" label="To">
          <template
            slot-scope="{ row }"
          >{{ row.travelDetails.departFlightInfo.arrivalAirport.city || null }}</template>
        </el-table-column>
        <el-table-column align="left" label="Applicant">
          <template slot-scope="{ row }">{{ row.applicants.length }}</template>
        </el-table-column>
        <el-table-column align="left" label="Status">
          <template slot-scope="{ row }">
            <el-tag type="warning">Pending</el-tag>
          </template>
        </el-table-column>
        <el-table-column align="left" label="Action">
          <template slot-scope="{ row }">
            <el-link type="primary" @click="handleClick(row.id)">Detail</el-link>
          </template>
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { EVisaModule } from '@/store/modules/EVisa';
import { IEVisa } from '@/interfaces/evisa';

@Component({
  name: 'Dashboard',
})
export default class extends Vue {
  listLoading: boolean = false;
  eVisaList: Array<IEVisa> = [];
  mounted() {
    // this.getData();
  }

  async getData() {
    this.listLoading = true;
    try {
      const res = await EVisaModule.getVisa();
      this.eVisaList.push(...res);
      this.listLoading = false;
    } catch (e) {
      console.log(e);
      this.$router.go(0);
    }
  }

  handleClick(id: string) {
    this.$router.push(`/evisa/visa-detail/${id}`);
  }
}
</script>

<style lang="scss" scoped>
.dashboard {
  &-container {
    margin: 30px;
  }

  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}
.evisa-container {
  margin: 0px 30px;
}
</style>
